.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  width: 1000px;
  overflow-y: auto;
  max-height: 90svh;
  border-radius: 8px;
  position: relative;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row > h2 {
  color: var(--color-primary);
  flex: 1;
  text-align: center;
  margin: 0;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
