---
import BaseLayout from '../layouts/BaseLayout.astro';
import AppointmentsList from '../components/AppointmentsList';
---

<BaseLayout>
  <section class="p-4">
    <h2 class="text-3xl font-bold mb-4 text-center">Your Appointments</h2>
    <AppointmentsList />
  </section>
</BaseLayout>
