---
import BaseLayout from '../layouts/BaseLayout.astro';
import { services } from '../data/services';
import { Services as ServicesCards } from "../components/Services/Services";

---

<BaseLayout>
  <section class="min-h-[calc(100vh-80px-112px)] py-12">
    <div class="w-full flex items-center justify-center">
      <div class="rounded-lg px-10">
        <h2
          class="text-6xl font-bold mb-8 text-center font-recoleta text-blue-400"
        >
          Our Services
          <hr class="bg-blue-400 h-0.5" />
        </h2>
  
        <ServicesCards services={services} />
      </div>
  </section>

  
</BaseLayout>
