---
// Paragraph.astro
export interface Props {
  variant?: "primary" | "hero" | "accent" | "white-bg" | "inverted";
  class?: string;
}
const { variant = "primary", class: extraClass = "" } = Astro.props;

let baseClass = "";
switch (variant) {
  case "hero":
    baseClass = "text-white";
    break;
  case "accent":
    baseClass += " text-accent dark:text-white";
    break;
  case "white-bg":
    baseClass += " text-primary dark:text-primary";
    break;
  case "inverted":
    baseClass = "text-white dark:text-primary";
    break;
  case "primary":
  default:
    baseClass = "text-primary dark:text-white";
}
---

<p class={`${baseClass} ${extraClass}`}>
  <slot />
</p>
