<div
  id="hamburger"
  class="group relative w-[30px] h-[26px] cursor-pointer text-primary dark:text-white"
>
  <!-- Top bar -->
  <span
    class="absolute top-0 left-0 w-full h-[20%] rounded-full bg-current transform transition-all duration-[250ms] ease-in-out group-[.open]:top-[40%] group-[.open]:w-0 group-[.open]:left-1/2"
  ></span>
  <!-- Upper middle bar -->
  <span
    class="absolute top-[40%] left-0 w-full h-[20%] rounded-full bg-current transform transition-all duration-[250ms] ease-in-out group-[.open]:rotate-45"
  ></span>
  <!-- Lower middle bar -->
  <span
    class="absolute top-[40%] left-0 w-full h-[20%] rounded-full bg-current transform transition-all duration-[250ms] ease-in-out group-[.open]:-rotate-45"
  ></span>
  <!-- Bottom bar -->
  <span
    class="absolute top-[80%] left-0 w-full h-[20%] rounded-full bg-current transform transition-all duration-[250ms] ease-in-out group-[.open]:top-[40%] group-[.open]:w-0 group-[.open]:left-1/2"
  ></span>
</div>
